<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>

    <div class="main-container">

<nav id="home" class="nav">
    <div class="logo">
        <img class="logo-img" src="/img/logo.png" alt="logo" />
    </div>

    <div class="menu-toggle">
        <img class="menu-icon" src="/img/menu.svg" alt="menu-icon" />
    </div>
    <ul class="ul">
        <li class="li"><a class="a"  href="/">Inicio</a></li>
        <li class="li"><a class="a"  href="#atencion-c">Atención al cliente</a></li>
        <li class="li"><a class="a"  href="/blog">Blog</a></li>
        <li class="li"><a class="a"  href="/catalogo">Catálogo</a></li>
        <li class="li"><a class="a"  href="/contacto">Contácto</a></li>
        <li class="li"><a class="a"  href="/carrito">Quiero comprar</a></li> 
            <img class="cart-icon" src="/img/cart.svg" alt="cart-icon" />
    </ul>
    <div class="login">
        <a href="#">Iniciar Sesión</a>
        <a href="#">Registrarse</a>
    </div>
</nav>

<header class="header">
    <div class="cta">
    <h1 class="main-title">Bienvenidos a Thinkbots</h1>
    <h2 class="subtitle">Juguetes tecnológicos que inspiran 
        a los futuros creadores. Construye, programa y sueña con ThinkBots
    </h2>
    <a class="cta-btn" href="/catalogo">Ver Catálogo</a>
    </div>
    <div class="cta-hero">
        <img class="img-hero" src="/img/hero-cta.png" alt="cta-hero">
    </div>
</header>