<%- include('layouts/header')%>
<main class="container">
    <h3 class="titulo-seccion">Catálogo de Productos</h3>
    <section class="catalog">
        <article class="product">
            <img src="/img/robot.png" alt="Robot educativo">
            <h2>Robot Educativo</h2>
            <p>Ideal para niños, ayuda a aprender programación y robótica básica.</p>
            <span class="price">$80.99</span>
            <a href="#" class="add-to-cart">Añadir al carrito</a>
        </article>
        <article class="product">
            <img src="/img/dron.png" alt="Dron para niños">
            <h2>Dron para Niños</h2>
            <p>Fácil de manejar, con sensores para evitar obstáculos y cámara HD.</p>
            <span class="price">$399.99</span>
            <a href="#" class="add-to-cart">Añadir al carrito</a>
        </article>
        <article class="product">
            <img src="/img/arduino.png" alt="Kit de Arduino">
            <h2>Kit de Arduino</h2>
            <p>Perfecto para aprender electrónica y desarrollar proyectos STEM.</p>
            <span class="price">$135.99</span>
            <a href="#" class="add-to-cart">Añadir al carrito</a>
        </article>
        <article class="product">
            <img src="/img/3.png" alt="Tablet interactiva">
            <h2>Tablet</h2>
            <p>Esta tablet tiene aplicaciones guiadas con inteligencia artificial para crear videojuegos y robots digitales.</p>
            <span class="price">$220.99</span>
            <a href="#" class="add-to-cart">Añadir al carrito</a>
        </article>
        <article class="product">
            <img src="/img/lego.jpeg" alt="LEGO Mindstorms">
            <h2>LEGO Mindstorms</h2>
            <p>Robots programables para introducirse en robótica y codificación.</p>
            <span class="price">$79.99</span>
            <a href="#" class="add-to-cart">Añadir al carrito</a>
        </article>
        <article class="product">
            <img src="/img/makey.jpeg" alt="Makey">
            <h2>Makey MAkey</h2>
            <p>Convierte objetos cotidianos en controles para videojuegos y proyectos creativos.</p>
            <span class="price">$45.99</span>
            <a href="#" class="add-to-cart">Añadir al carrito</a>
        </article>
        <article class="product">
            <img src="/img/kano.jpeg" alt="kano computer">
            <h2>Kano computer kit</h2>
            <p> Computadora ensamblable para aprender hardware y software básico.</p>
            <span class="price">$359.99</span>
            <a href="#" class="add-to-cart">Añadir al carrito</a>
        </article>
        <article class="product">
            <img src="/img/microbit.jpeg" alt="Microbits">
            <h2>Microbits</h2>
           <p>Placa programable para crear juegos, robots y proyectos interactivos fácilmente.</p>
            <span class="price">$89.99</span>
            <a href="#" class="add-to-cart">Añadir al carrito</a>
        </article>
        <article class="product">
            <img src="/img/sphero.jpeg" alt="Sphero ultra">
            <h2>Sphero ultra</h2>
            <p>Robot esférico programable para aprender codificación y conceptos de robótica.</p>
            <span class="price">$150.99</span>
            <a href="#" class="add-to-cart">Añadir al carrito</a>
        </article>
        <article class="product">
            <img src="/img/littlebit.jpeg" alt="LittleBits Code Kit">
            <h2>LittleBits Code Kit</h2>
            <p>Bloques magnéticos para crear circuitos y programar juegos interactivos.</p>
            <span class="price">$235.99</span>
            <a href="#" class="add-to-cart">Añadir al carrito</a>
        </article>
    </section>
</main>
<%- include('layouts/footer')%>