<%- include('layouts/header') %>
<h3 class="titulo-seccion">Formulario de contácto</h3>
        <div class="form-container">
            <form id="contactForm">
                <input type="text" id="nombre" placeholder="Nombre" required>
                <input type="email" id="email" placeholder="Correo electrónico" required>
                <textarea id="mensaje" placeholder="Mensaje" required></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
<%- include('layouts/footer') %>
