        <%- include('layouts/header') %> 
        <section class="destacados">
            <h3 class="titulo-seccion">Lo más vendido</h3>
            <div class="grid-container">
                <div class="card">
                    <img class="card-img" src="/img/2.png" alt="codebots">
                    <h3 class="titulo-destacados">Codebot Quest</h3>
                    <p>El favorito de todos, intuitivo, dinámico, divertido. Aprende a programar mientras te diviertes</p>
                </div>
                <div class="card">
                    <img class="card-img" src="/img/7.png" alt="other">
                    <h3 class="titulo-destacados">Magic Cube</h3>
                    <p>Esta increible consola te permite conectar a pc, tv, table y dispositivos móviles.</p>
                </div>
                <div class="card">
                    <img class="card-img" src="/img/9.png" alt="superbot">
                    <h3 class="titulo-destacados">Superbots</h3>
                    <p>¡Descubre el fascinante mundo de la electrónica con SuperBots!.  Combina diversión y educación, permitiendote construir tus propios robots.</p>
                </div>
                <div class="card">
                    <img class="card-img" src="/img/5.png" alt="Canal de Panamá">
                    <h3 class="titulo-destacados">Osmo Coding Jam</h3>
                    <p>Este juego combina piezas físicas con una app interactiva para que los niños creen música mediante secuencias de programación. </p>
                </div>
            </div>
        </section>
        <section class="about">
            <h3 class="titulo-seccion">Acerca de</h3>

            <div class="about-content">
                <div class="about-content-img">
                    <img class="about-img" src="/img/4.png" alt="about-img">
                </div>
    
                <div class="descripcion">
                    <h2>Thinkbots</h2>
                    <p>Nuestro propósito es inspirar y empoderar a los niños a través de la 
                        tecnología y la programación, fomentando su creatividad y habilidades de resolucion de problemas. 
                        Thinkbots se dedica a proporcionar herramientas educativas innovadoras que hagan del aprendizaje 
                        una experiencia divertida y accesible para todos los niños.
                        </p>
                </div>
            </div>
            
        </section>
        <section class="marcas">
            <h3 class="titulo-seccion">Nuestras marcas</h3>
            <div class="carousel">
                <div class="carousel-inner">
                    <img src="/img/a.png" alt="Marca A">
                    <img src="/img/b.png" alt="Marca B">
                    <img src="/img/c.png" alt="Marca C">
                    <img src="/img/d.png" alt="Marca D">
                    <img src="/img/e.png" alt="Marca E">
                    <img src="/img/f.png" alt="Marca F">
                    <img src="/img/g.png" alt="Marca G">
                    <img src="/img/h.png" alt="Marca H">
                    <img src="/img/i.png" alt="Marca I">
                    <img src="/img/j.png" alt="Marca J">
                    <img src="/img/k.png" alt="Marca K">
                    <img src="/img/m.png" alt="Marca M">
                  
                    <img src="/img/a.png" alt="Marca A">
                    <img src="/img/b.png" alt="Marca B">
                    <img src="/img/c.png" alt="Marca C">
                    <img src="/img/d.png" alt="Marca D">
                    <img src="/img/e.png" alt="Marca E">
                    <img src="/img/f.png" alt="Marca F">
                    <img src="/img/g.png" alt="Marca G">
                    <img src="/img/h.png" alt="Marca H">
                    <img src="/img/i.png" alt="Marca I">
                    <img src="/img/j.png" alt="Marca J">
                    <img src="/img/k.png" alt="Marca K">
                    <img src="/img/m.png" alt="Marca M">
                </div>
            </div>
        </section>
        <section id="atencion-c" class="atencion-cliente">
            <h2>Atención al Cliente</h2>
            <div class="atencion-content">
                <div class="atencion-img">
                    <img src="/img/customer-services.svg" alt="Atención al Cliente">
                </div>
                <div class="atencion-info">
                    <h3 class="titulo-seccion">¿Necesitas ayuda?</h3>
                    <p>
                        En Thinkbots, estamos comprometidos a brindarte la mejor experiencia. Si tienes alguna duda, 
                        necesitas asistencia con tu compra o deseas hacer un reclamo, nuestro equipo de atención al cliente 
                        está listo para ayudarte.
                    </p>
                    <ul>
                        <li><strong>¿Cómo comprar?</strong> - Guía paso a paso para realizar tu compra.</li>
                        <li><strong>Seguimiento de pedidos</strong> - Consulta el estado de tu envío en tiempo real.</li>
                        <li><strong>Devoluciones y reclamaciones</strong> - Te ayudamos a resolver cualquier inconveniente.</li>
                        <li><strong>Preguntas frecuentes</strong> - Encuentra respuestas rápidas a las dudas más comunes.</li>
                    </ul>
                    <a  href="/contacto" class="contacto-btn">Contáctanos</a>
                </div>
            </div>
            
        </section>
        <%- include('layouts/footer') %> 
    