*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:#444;
}

.main-container{
    width:95%;
    height: auto;
    margin:auto;
    font-family: "Roboto", serif;
}

/*---Nav---*/
.nav{
    background-color: #fff;;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding:10px 0;
}
.ul{
    display:flex;
    list-style:none;
}
.li{
    padding:20px;
}
.a{
    text-decoration:none;
}
.logo{
    width: 10%;
    height: 100%;
}
.logo .logo-img{
    width: 100%;
    height: 100%;
}

.login{
    padding:20px;
}
.login a{
   text-decoration: none;
   margin:0 10px;
}
.menu-toggle {
    display: none; 
    cursor:pointer;
    width:40px;
    height:50px;
}
.menu-toggle img {
   width:100%;
   height:100%;
}

/*---Header---*/
.header{
    width:100%;
    height:600px;
    padding:20px;
    max-height: 100vh;
    background: #f3f3f3;
    display:flex;
    justify-content: space-between;
   
}

.cta{
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.main-title{
    font-size:60px;
    
}
.subtitle{
    text-align: center;
    margin:30px 0;
}
.cta-btn{
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff; 
    border-radius: 10px;
    padding: 0.8rem 1.5rem;
    transition: background-color 0.3s ease;
}
.cta-btn:hover{
    background-color: #0056b3; 
}
.cta-hero{
    width:50%;
    height: 100%;
}
.cta-hero .img-hero{
   width:100%;
   height: 100%;
}

/*---Destacados--*/

.destacados {
    padding: 2rem;
    margin:40px 0;
}
 .titulo-destacados{
    font-size: 1.3rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.card{
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
}

.card-img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}



/*---About---*/
.about {
    width: 100%;
    height: auto;
    padding: 2rem;
    box-sizing: border-box; 
}

.about-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 50px;
    height: auto; 
    flex-wrap: wrap; 
}

.about-content-img {
    width: 35%;
    height: auto; 
    padding: 23px;
    box-sizing: border-box; 
}

.about-img {
    width: 100%;
    height: auto; 
    display: block; 
}

.titulo-seccion{
    font-size: 2rem;
    margin-bottom: 1rem;
}


.descripcion {
    width: 60%;
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box; 
}

.descripcion h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px; 
}

.descripcion p {
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.6; 
    text-align:justify;
}



/*---Marcas---*/
.marcas {
  
    padding: 30px;
    overflow: hidden;
    margin:40px 0;
    height: 320px;
    max-height: 300px;
}


.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    display: flex;
    animation: scroll 40s linear infinite;
}

.carousel-inner img {
    width: 150px; 
    height: auto;
    margin: 0 10px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}


/*---Atención al Cliente---*/
.atencion-cliente {
    width: 100%;
    padding: 2rem;
    background-color: #f9f9f9; /* Fondo claro para resaltar la sección */
    box-sizing: border-box;
    text-align: center;
}

.atencion-cliente h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.atencion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Para que se ajuste en pantallas pequeñas */
    gap: 2rem; /* Espacio entre la imagen y el texto */
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.atencion-img {
    width: 250px;
    height: 250px;
}

.atencion-img img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Bordes redondeados para la imagen */
}

.atencion-info {
    max-width: 600px;
    text-align: left;
}

.atencion-info p {
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 1.5rem;

}

.atencion-info ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1.5rem;
}

.atencion-info ul li {
    
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 0.5rem;
}

.atencion-info ul li strong {
    color: #333;
}

.contacto-btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff; 
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.contacto-btn:hover {
    background-color: #0056b3; 
}



/*---Footer---*/


.footer {
    background-color: #2c3e50; /* Fondo oscuro */
    color: #ecf0f1; /* Texto claro */
    padding: 2rem 1rem;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.footer-section {
    flex: 1;
    min-width: 200px; 
    margin-bottom: 1.5rem;
}

.footer-section h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #f1c40f; /
}

.footer-section p,
.footer-section a {
    font-size: 1rem;
    color: #ecf0f1;
    text-decoration: none;
    line-height: 1.6;
}

.footer-section a:hover {
    color: #f1c40f; 
}


.social-icons {
    display: flex;
    gap: 1rem;
    
}

.social-icons img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
    
}

.social-icons img:hover {
    transform: scale(1.2); 
}


iframe {
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section ul li a {
    color: #ecf0f1;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #f1c40f;
}


.footer-bottom {
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid #34495e; 
    margin-top: 2rem;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9rem;
    color: #bdc3c7;
}


/*---Catalogo---*/

.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product img {
    width: 50%;
    border-radius: 5px;
}

.product h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product p {
    font-size: 1em;
    color: #555;
}

.price {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    color: #27ae60;
    margin: 10px 0;
}

.add-to-cart {
    display: inline-block;
    padding: 10px 15px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/*---Blog---*/

.blog-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.articles {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

article {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article img {
    width: 100%;
    border-radius: 5px;
}

article h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

article p {
    font-size: 1em;
    color: #555;
}

article a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.sidebar {
    flex: 1;
    max-width: 300px;
    background: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
}

.sidebar h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 8px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
}

/*-- Contacto---*/



.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    width: 40%;
    display: block;
    margin:auto;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/*--- Carrito de compra ---*/
.cart-container{
    border:1px solid #ccc;
    width:40%;
    max-width:100%;
    margin:40px auto;
}
.cart-container h3{
  text-align: center;
  font-size: 1.5rem;
  margin:20px 0;
}
.cart {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item img {
    width: 80px;
    border-radius: 5px;
    margin-right: 15px;
}

.payment-methods {
    text-align: center;
    margin: 20px 0;
    padding:15px;
}

.payment-icons img {
    width: 60px;
    margin: 10px;
}



.cart-summary {
    padding:15px;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}

.checkout-button {
    display: inline-block;
    padding: 10px 15px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}


/*----Media Queries  */

@media (max-width: 1024px) {
    .about-content {
        margin: 0 20px; 
    }

    .about-content-img {
        width: 40%;
    }

    .descripcion {
        width: 55%; 
    }
    .cart-container{
        width:80%;
    }
}


@media screen and (max-width: 768px) {
    .nav{
        justify-content: start;
    }

    .menu-toggle {
        display: block; 
        position: absolute;
        top: 15px;
        right: 20px;
        z-index: 1000;
    }

    .ul {
        display: none; 
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        background: #f3f3f3;
        padding: 20px 0;
        transition: all 0.3s ease-in-out;
    }

    .ul.active {
        display: flex; 
    }

    .li {
        padding: 15px;
        width: 100%;
        text-align: center;
        border:1px solid #fff;
    }

  
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        padding: 40px 20px;
    }

    .cta {
        width: 100%;
    }

    .main-title {
        font-size: 40px;
    }

    .subtitle {
        font-size: 18px;
        margin: 20px 0;
    }

    .cta-btn {
        font-size: 16px;
        padding: 15px;
        width: 180px;
    }

    .cta-hero {
        width: 80%;
        margin-top: 20px;
    }

    .cta-hero .img-hero {
        width: 100%;
        height: auto;
    }
    .carousel-inner img {
        width: 100px; 
    }

    .about-content {
        flex-direction: column; 
        margin: 0; 
    }

    .about-content-img {
        width: 80%; 
        padding: 10px; 
    }

    .descripcion {
        width: 100%; 
        padding: 20px; 
        text-align: center; 
    }

    .descripcion h2 {
        font-size: 26px; 
    }

    .descripcion p {
        font-size: 16px; 
    }
    .atencion-content {
        flex-direction: column; 
        text-align: center;
    }

    .atencion-info {
        text-align: center;
    }

    .atencion-info ul {
        text-align: left;
    }

    .contacto-btn {
        width: 100%; 
        box-sizing: border-box;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        width: 100%;
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }

    iframe {
        height: 150px; /
    }

    .form-container {
        width: 90%;
        padding: 15px;
    }

    .catalog {
        grid-template-columns: 1fr;
    }
    .blog-container {
        flex-direction: column;
    }

    .sidebar {
        max-width: 100%;
        margin-top: 20px;
    }
    
    .cart-item {
        flex-direction: column;
        text-align: center;
    }
    .cart-item img {
        margin-bottom: 10px;
    }
    .cart-container{
        width:80%;
    }


}


@media (max-width: 480px) {
    .about-content-img {
        width: 100%; 
    }

    .descripcion h2 {
        font-size: 24px; 
    }

    .descripcion p {
        font-size: 14px; 
    }
    .atencion-cliente h2 {
        font-size: 2rem;
    }

    .atencion-info h3 {
        font-size: 1.5rem;
    }

    .atencion-info p {
        font-size: 1rem;
    }

    .atencion-info ul li {
        font-size: 0.9rem;
    }
 
    

}